@model PimpYourCharacter.Models.accessoire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>accessoire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie_accessoire.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie_accessoire.label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_accessoire }) |
    @Html.ActionLink("Back to List", "Index")
</p>
