@model PimpYourCharacter.Models.corps

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Corps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.taille,"Taille")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taille)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bras.forme,"Forme de bras")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bras.forme)
        </dd>

        <dt>
            @Html.LabelFor(model => model.buste.id_buste,"Id buste")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buste.id_buste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jambe.forme, "Forme de jambe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jambe.forme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tete.forme, "Forme de tête")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tete.forme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_corps }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
