@model IEnumerable<PimpYourCharacter.Models.corps>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des corps</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Taille
        </th>
        <th>
            Forme de bras
        </th>
        <th>
            Id buste
        </th>
        <th>
            Forme de jambe
        </th>
        <th>
            Forme de tête
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bras.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buste.id_buste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jambe.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tete.forme)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_corps }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_corps }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_corps })
        </td>
    </tr>
}

</table>
