@model PimpYourCharacter.Models.arme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>arme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie_arme.categorie_arme1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie_arme.categorie_arme1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_arme }) |
    @Html.ActionLink("Back to List", "Index")
</p>
