@model PimpYourCharacter.Models.arme

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Arme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.label,"Label")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.poids,"Poids")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.LabelFor(model => model.categorie_arme.categorie_arme1,"Catégorie d'armes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie_arme.categorie_arme1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_arme }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
