@model IEnumerable<PimpYourCharacter.Models.arme>

@{
    ViewBag.Title = "Index";
}

<h2>Liste d'armes</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Label
        </th>
        <th>
            Poids
        </th>
        <th>
           Catégorie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poids)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie_arme.categorie_arme1)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_arme }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_arme }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_arme })
        </td>
    </tr>
}

</table>
