@model IEnumerable<PimpYourCharacter.Models.buste>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des bustes</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hauteur
        </th>
        <th>
            Largeur
        </th>
        <th>
            Corpulence
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.corpulence)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_buste }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_buste }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_buste })
        </td>
    </tr>
}

</table>
