@model PimpYourCharacter.Models.personnage

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer cet élément ?</h3>
<div>
    <h4>Personnage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.nom,"Nom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.LabelFor(model => model.age,"Age")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.LabelFor(model => model.corps.id_corps,"Corps")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.corps.id_corps)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ethnie.label,"Ethnie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ethnie.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.genre.label,"Genre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.vbas.label,"Vêtement bas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vbas.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.vhaut.label,"Vêtement haut")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vhaut.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.accessoire,"Accessoire")
        </dt>

        <dd>
            @Html.ListBox("id_accessoire", new SelectList(Model.accessoire, "id_accessoire", "label"))
        </dd>

        <dt>
            @Html.LabelFor(model => model.arme,"Arme")
        </dt>
        <dd>
            @Html.ListBox("id_arme", new SelectList(Model.arme, "id_arme", "label"))
        </dd>

        <dt>
            @Html.LabelFor(model => model.bouclier,"Bouclier")
        </dt>
        <dd>
            @Html.ListBox("id_bouclier", new SelectList(Model.bouclier, "id_bouclier", "label"))
        </dd>

        <dt>
            @Html.LabelFor(model => model.vmain,"Vêtement main")
        </dt>
        <dd>
            @Html.ListBox("id_vmain", new SelectList(Model.vmain, "id_vmain", "label"))
        </dd>

        <dt>
            @Html.LabelFor(model => model.vpied,"Vêtement pied")
        </dt>
        <dd>
            @Html.ListBox("id_vpied", new SelectList(Model.vpied, "id_vpied", "label"))
        </dd>

        <dt>
            @Html.LabelFor(model => model.vtete,"Vêtement tête")
        </dt>
        <dd>
            @Html.ListBox("id_vtete", new SelectList(Model.vtete, "id_vtete", "label"))
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
