@model IEnumerable<PimpYourCharacter.Models.personnage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.corps.id_corps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ethnie.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vbas.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vhaut.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accessoire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bouclier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vmain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vpied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vtete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.corps.id_corps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ethnie.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genre.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vbas.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vhaut.label)
        </td>
        <td>
            @Html.ListBox("id_accessoire", new SelectList(item.accessoire, "id_accessoire", "label"))
        </td>
        <td>
            @Html.ListBox("id_arme", new SelectList(item.arme, "id_arme", "label"))
        </td>
        <td>
            @Html.ListBox("id_bouclier", new SelectList(item.bouclier, "id_bouclier", "label"))
        </td>
        <td>
            @Html.ListBox("id_vmain", new SelectList(item.vmain, "id_vmain", "label"))
        </td>
        <td>
            @Html.ListBox("id_vpied", new SelectList(item.vpied, "id_vpied", "label"))
        </td>
        <td>
            @Html.ListBox("id_vtete", new SelectList(item.vtete, "id_vtete", "label"))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_personnage }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_personnage }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_personnage })
        </td>
    </tr>
}

</table>
