@model IEnumerable<PimpYourCharacter.Models.bouche>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des bouches</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Forme
        </th>
        <th>
            Largeur
        </th>
        <th>
            Hauteur
        </th>
        <th>
            Profondeur
        </th>
        <th>
            Couleur
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profondeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.couleur.label)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_bouche }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_bouche }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_bouche })
        </td>
    </tr>
}

</table>
