@model PimpYourCharacter.Models.jambe

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Jambe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.hauteur,"Hauteur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hauteur)
        </dd>

        <dt>
           @Html.LabelFor(model => model.forme,"Forme")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_jambe }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
