@model IEnumerable<PimpYourCharacter.Models.jambe>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des jambes</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hauteur
        </th>
        <th>
            Forme
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forme)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_jambe }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_jambe }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_jambe })
        </td>
    </tr>
}

</table>
