@model PimpYourCharacter.Models.tete

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Tête</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Html.LabelFor(model => model.hauteur,"Hauteur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hauteur)
        </dd>

        <dt>
            @Html.LabelFor(model => model.largeur,"Largeur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largeur)
        </dd>

        <dt>
            @Html.LabelFor(model => model.forme,"Forme")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forme)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bouche.forme,"Forme de la bouche")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bouche.forme)
        </dd>

        <dt>
           @Html.LabelFor(model => model.nez.forme,"Forme du nez")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nez.forme)
        </dd>

        <dt>
            @Html.LabelFor(model => model.yeux.forme,"Forme des yeux")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yeux.forme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_tete }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
