@model IEnumerable<PimpYourCharacter.Models.tete>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hauteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.largeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.forme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bouche.forme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nez.forme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yeux.forme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bouche.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nez.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yeux.forme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tete }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tete }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tete })
        </td>
    </tr>
}

</table>
