@model IEnumerable<PimpYourCharacter.Models.tete>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des têtes</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hauteur
        </th>
        <th>
            Largeur
        </th>
        <th>
            Forme
        </th>
        <th>
            Forme de la bouche
        </th>
        <th>
            Forme du nez
        </th>
        <th>
            Forme des yeux
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hauteur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bouche.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nez.forme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yeux.forme)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_tete }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_tete }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_tete })
        </td>
    </tr>
}

</table>
