<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYC Modélisez vos personnages</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PYC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Général<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Couleurs")"><span>Couleurs</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Texture")"><span>Texture</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnage<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Personnage")"><span>Personnage</span></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">
                                Informations générales
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Ethnie")"><span>Ethnie</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Genre")"><span>Genre</span></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">
                                Tête
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Tete")"><span>Tête</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Yeux")"><span>Yeux</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Nez")"><span>Nez</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Bouche")"><span>Bouche</span></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">
                                Corps
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Corps")"><span>Corps</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Bras")"><span>Bras</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Buste")"><span>Buste</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Jambe")"><span>Jambe</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Équipement<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Arme")"><span>Arme</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Bouclier")"><span>Bouclier</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CategorieArme")"><span>Catégorie d'arme</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Accessoire")"><span>Accessoire</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CategorieAccess")"><span>Catégorie d'accessoire</span></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">
                                Vêtements
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Vbas")"><span>Vêtement bas</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Vhaut")"><span>Vêtement haut</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Vmain")"><span>Vêtement main</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Vpied")"><span>Vêtement pied</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Vtete")"><span>Vêtement tête</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Recherche", "Index", "Search")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="col-md-12">
                <div class="custom-footer">
                    <a href="@Url.Action("About", "Home")">A propos</a> - <a href="@Url.Action("Contact", "Home")">Contact</a>
                    <div class="pull-right">
                        <p>&copy; @DateTime.Now.Year - PYC Group</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>