@model PimpYourCharacter.Models.vpied

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Vêtement pied</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.label,"Label")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.poids,"Poids")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.LabelFor(model => model.couleur.label,"Couleur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur.label)
        </dd>

        <dt>
            @Html.LabelFor(model => model.texture.label,"Texture")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texture.label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_vpied }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
