@model IEnumerable<PimpYourCharacter.Models.couleur>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des couleurs</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Label
        </th>
        <th></th>
    </tr>
    @try
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.label)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.id_couleur }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.id_couleur }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id_couleur })
                </td>
            </tr>
        }
    } catch (Exception e)
    {
        Console.WriteLine("ok");
    }


</table>
