@model IEnumerable<PimpYourCharacter.Models.texture>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des textures</h2>

<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Label
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.label)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.id_texture }) |
            @Html.ActionLink("Détails", "Details", new { id=item.id_texture }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.id_texture })
        </td>
    </tr>
}

</table>
