@model PimpYourCharacter.Models.vtete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vtete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.couleur.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texture.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texture.label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_vtete }) |
    @Html.ActionLink("Back to List", "Index")
</p>
