@model PimpYourCharacter.Models.bras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.longueur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longueur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.forme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_bras }) |
    @Html.ActionLink("Back to List", "Index")
</p>
