@model PimpYourCharacter.Models.bras

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Bras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.longueur,"Longueur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longueur)
        </dd>

        <dt>
            @Html.LabelFor(model => model.forme,"Forme")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forme)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_bras }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
